.header {
  display: block;
  padding: 25px 35px;

  transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;
}

.header--no-visible {
  transform: translateY(-20px);
  opacity: 0;
}

.header__wrapper {
  line-height: 0;
}
